{% extends "posts_div.html" %} {% block title %}{{username}}'s Posts{% endblock
    %} {% block header %} 
    
    {{username}}'s posts <br></br> 
    
    {% endblock %} {% block footer %}
    <div align="center">
      
      <a href="/home"
        ><button type="button" class="btn btn-outline-success">Back</button></a
      >
      <a href="/rename/{{username}}"
        ><button type="button" class="btn btn-outline-secondary">Rename</button></a
      >
    </div>
    {% endblock %}