*{
  font-family: poppins;
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  
}
ul{
  list-style: none;
}
a{
  text-decoration: none;

}
body{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
}
/* navigation */
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  max-width: 1070px;
  width: 100%;
  margin:auto;
}
.menu{
  display: flex;
}
.menu li a {
  padding: 3px 10px;
  margin: 0px 15px ;
  color:#3b3b3b ;
  font-weight:500;
  letter-spacing: 0.5px;
  transition: all ease 0.3s;
}
.logo{
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #202020;
}
.logo span{
  color: #40aa54;
}
.right-nav{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
}
.right-nav a{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
 
}
.right-nav .like{
  background-color: #fff0ee;
  color: #ff6c57;
}
.right-nav .cart{
  background-color: #ecf7ee;
  color: #4eb060;

}
.menu li a:hover,
.menu .active{
  color: #40aa54;
  transition: all ease 0.3;
}
/* search banner*/
#search-banner{
  max-width: 1250px;
  height: 500px;
  border-radius: 30px;
  background-color: #ecf7ee;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
 
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: bottom right ;
  padding: 20px;
  display: flex;
  align-items: center;
}
.bg-1{
  position: absolute;
  left: -50px;
  top: -150px;
  width: 300px;
  height: 300px;
  object-fit: contain;
  object-position: center;
 
}
.bg-2{
  position: absolute;
  left: 60%;
  transform: translateX(-60%);
  top: -75px;
  width: 150px;
  height: 150px;
  object-position: center;
  object-fit: contain;
}
.search-banner-text{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 70px;
  position: relative;
}
.search-banner-text h1{
  font-size: 3rem;
  line-height: 55px;
  color: #202020;   
}
.search-banner-text strong{
  color: #4eb060;
  font-size: 1.4rem;
  margin-top: 4px;
}
.search-box{
  background-color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding: 0px 5px 0px 20px;
  border-radius: 30px;
}
.search-box i{
  font-size: 1.3rem;
  color: #3b3b3b;
  margin: 0px 10px;
}
.search-box .search-input{
  height: 40px;
  border: none;
  width: 100%;
  pad: 0px 10px;
  outline: none;
  outline: none;

}
.search-box .search-btn{
  width:220px;
  height: 40px;
  border-radius:30px ;
  background-color: #4eb060;
  border: none;
  color: #ffffff;
  outline: none;
  transition: all ease 0.3s;
  cursor: pointer;
}
.search-box .search-btn:hover{
  background-color: #5ccf71;
  transition: all ease 0.3s;
}
/* category */
#category,
#popular-product,
#popular-bundle-pack{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 50px auto;
}
.category-heading,
.product-heading
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-heading h2,
.product-heading h3{
  font-size: 1.56rem;
  font-weight: 700;
  color: #202020;
  letter-spacing: 0.5px;
}
.category-heading span,
.product-heading span{
  color: #a7a7a7;
  font-weight: 400;
  letter-spacing: 1px;
}
.category-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  
  
}
.category-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 10px;
  min-height: 130px;
  width: 206px;
  margin-left: 40px;
  border: 1px solid rgba(0,0,0,0.03);
}

.category-box:hover{
  transform: scale(1.1);
  transition: all ease 0.3s;
  border-color: #4eb060;
}
.category-box img{
  
  object-fit: contain;
  transition: all ease 0.1s;
  object-position: center;
}
.category-box span{
  color: #393939;
  font-size: 0.8rem;
  margin-top: 20px;
  letter-spacing: 0.3px;
  font-weight: 600;
}
/* popular product*/
#popular-product{
  margin: 80px auto;
}
.product-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 40px 0px;


}
.product-box{
  width: 100%;
  margin-left: -4px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-img{
  width: 90%;
  height: 180px;
  object-fit: contain;
  object-position: center;
  margin: auto;
}
.product-box strong{
  color:#202020;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 10px;
}
.product-box .quantity{
  color: #949494;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.product-box .price{
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #393939;
  scroll-behavior: smooth ;
}
.product-box .demo-btn{
  width: 100%;
  height: 40px;
  background-color: #ecf7ee;
  color: #4eb060;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
  border-radius: 5px;
  margin-top: 20px;
}
.product-box .demo-btn i{
  margin-right: 10px;
}
.product-box .demo-btn:hover{
  background-color: #4eb060;
  color: #ffffff;
  transition: all ease 0.3s;
}
.product-box .like-btn{
  position: absolute;
  right: 30px;
  top: 20px;
  color: #c9c9c9;
  font-size: 1.3rem;
}
.product-box:hover{
  transform: scale(1.03);
  transition: all ease 0.3s;
  border-color: #4eb060;
}
/* popular bundle pack*/
#popular-bundle-pack{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1150px;
  margin: 50px auto;
  padding: 60px 0px 20px 0px;
  border-radius: 20px;
  background-color: #ecf7ee;
  border: 1px solid #f3f3f3;
  align-items: center;
}
.product-container,
.product-heading{
  max-width: 1000px;
  width: 100%;
}
/*footer*/
footer{
  width: 100%;
  background-color:#1b1d1f;
  padding: 50px 20px;
  border: 5px solid #4eb060;
}
.footer-container{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footer-logo a{
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
 

}
.footer-social{
display: flex;
margin-top: 10px;
}
.footer-social a{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: 1px solid #ffffff15;
  font-size: 0.9rem;
  margin: 0px 5px;
  transition: all ease 0.3s;
}
.footer-logo a span{
  color: #4eb060;
}
.footer-links strong{
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
}
.foooter-links ul{
  margin-top: 10px;

}
.footer-links ul li a{
  color: #ffffff;
  opacity: 0.5;
  margin: 4px 0px;
  font-size: 0.9rem;
  transition: all ease 0.3s;
  letter-spacing: 1px;
}
.footer-social a:hover{
  background-color: #4eb060;
  transition: all ease 0.3s;
}
.footer-links li a:hover{
  opacity: 1;
  transition: all ease 0.3s;
}
/*character */
.character .product-box{
  width: 500px;
  height: 500px;
 
}
/*modal button */
/* The Modal (background) */
.modal {
  overflow-y: auto;
  scroll-behavior: smooth;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; 
}

/* Modal Content/Box */
.modal-content {
  
  scroll-behavior: smooth;
  border-radius: 15px;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  
}

/* The Close Button */
.close,
.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*responsive */
.menu-icon,
.menu-btn{
  display: none;
}

.content .category-container .category-box{
width: 350px;
height: 200px;
}
.map  .category-box{
  
  height: 335px;
  width: 315px;
  
}
@media(max-width:1280px){
  #search-banner{
      width: 1150px;

  }
}
@media(max-width:1200px){
  #search-banner{
      width: 90%;
      height: 500px;

  }
  #popular-bundle-pack,
  #popular-product{
      width: 90%;
  }
  #popular-bundle-puck{
      padding: 50px 30px 0px 30px;
  }
}
@media(max-width:1050){
  .bg-1{
      width:150px ;
      height: 150px;
      top:-20px
  }
  #search-banner{
      background-size: 700px;
  }
  #category
  {
      width: 90%;
  }

}
@media(max-width:965px){
  .navigation{
      justify-content: space-between;
      height: 65px;
      padding: 35px 25px;
  }
  .logo{
      font-size: 1.2rem;
  }
  .navigation .menu{
      display: none;
      position: absolute;
      top: 65px;
      left: 0px;
      z-index: 100;
      background-color: #ffffff;
      width: 100%;
      padding: 0px;
      margin: 0px;
      border-bottom: 1px solid rgba(245, 245, 245);
  }
  .navigation .menu li{
      width: 100%;
      margin: 0px;
      padding: 0px;
  }
  .navigation .menu li a {
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      padding: 30px 20px;
      margin: 0px;
      border: 1px solid rgba(248, 247, 247, 0.5);
  }
  .menu-icon{
      display: block;
  }
  .navigation .menu-icon{
      cursor: pointer;
      float: right;
      padding: 5px;
      position: relative;
      user-select: none;
      z-index: 2;
  }
  .navigation .menu-icon .nav-icon{
      background-color: #141414cc;
      display: block;
      height: 2px;
      width: 25px;
      position: relative;
      transition: background 0.2s ease-out;
  }
  .navigation .menu-icon .nav-icon::before,
  .navigation .menu-icon .nav-icon::after{
  background-color: #141414cc;
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease-out 0.2s;
  }
  .navigation .menu-icon .nav-icon::before{
      top: 7px;
  }
  .navigation .menu-icon .nav-icon::after{
      top: -7px;
  }
  .navigation .menu-btn:checked ~.menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0px;
}
  .navigation .menu-btn:checked ~.menu-icon .nav-icon::after{
      transform: rotate(45deg);
      top: 0px;
  }
  .navigation .menu-btn:checked ~.menu-icon .nav-icon{
      background-color: transparent;
  }
  .navigation .menu-btn:checked ~ .menu{
      display: block;
  }
  #search-banner{
      height: 400px;
      background-size: 500px;
  }
  .bg-2{
      width: 100px;
      height: 100px;
      top: -50px;
  }
  .category-container{
      flex-wrap: wrap;
      justify-content: center;
  }
  .category-box{
      margin: 10px;
  }
  .product-container{
      grid-template-columns: 1fr 1fr;
  }
  .clients-box-container{
      grid-template-columns: 1fr 1fr;
  }
  .logo-container{
      flex-wrap: wrap;
      justify-content: center;
  }
  .logo-container img{
      margin: 10px;
  }
  .footer-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .foooter-links{
      text-align: center;
  }
}
@media(max-width:750px){
  #search-banner{
      height: 300px;
  }
  .search-banner-text{
      margin-left: 20px;
  }
  .search-banner-text h1{
      font-size: 2rem;
      line-height: 30px;
      
  }
  .bg-1{
      display: none;

  }
}
@media(max-width:500px){
  
  
  .content .category-container{
      
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      
  }
  .content .category-container .category-box {
      
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 161px;
      
      
     }
 
  #search-banner{
      height: 200px;
      background-size: 300px;
  }
  .search-banner-text{
      margin-left: 0px;
      max-width: 100%;
  }
  .search-banner-text h1{
      font-size: 1.3rem;
  }
  .search-box{
      width: 100%;
      max-width: 100%;
      height: 40px;
      padding-left: 10px;
  }
  .search-box i{
      font-size: 1rem;
  }
  .search-box .search-btn{
      height: 30px;
  }
  .category-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
  }
  .category-box{
      width: 100%;
      margin: 0px;
  }
  .product-container{
      grid-template-columns: 1fr;
  }
  #popular-bundle-pack{
     
      padding: 30px 20px 0px 20px;
  }
  .footer-container{
      grid-template-columns: 1fr;
  }
  .foooter-links{
      margin-top: 10px;
  }
  .product-box{
      width:356px ;
  }
}

/* table */
.table{
  width: 100%;
  border-collapse: collapse;

}
.table td,.table th{
  padding: 12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size: 16px;
}
.table th{
  background-color: #40aa54;
  color: #ffffff;
}
.table tbody tr:nth-child(even){
background-color: #f5f5f5;
}
/*responsive table*/
@media(max-width:500px){
  .category-container .map{
    margin-left: 20px;
  }
.table thead{
  display: none;
}
.table, .table tbody, .table tr, .table td{
  display: block;
  width: 100%;
}
.table tr{
  margin-bottom: 15px;
}
.table td{
  text-align: right;
  padding-left: 50%;
  text-align: right;
  position: relative;
}
.table td::before{
  content: attr(data-label);
  position: absolute;
  left: 0;
  width: 50%;
  padding-left: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}
}